openapi: 3.2.0
info:
  title: FarmDash Agent Account API
  version: 2.0.0
  description: 'WARNING: Running trade executions and cancellations places real perpetual futures trades and alters active market exposure, carrying significant risk of financial loss.'
  contact:
    name: FarmDash Engineering
    url: https://www.farmdash.one/agents
  license:
    name: MIT
servers:
- url: https://www.farmdash.one/api
  description: Production
tags:
- name: Account
  description: Hyperliquid account state and risk management
paths:
  /v1/agent/futures/account-state:
    get:
      operationId: getAccountState
      summary: Get Hyperliquid positions and risk state
      description: 'Returns the agent''s current positions, margin summary, equity,

        liquidation prices, and risk management state. Daily/weekly values are

        conservative loss-pressure metrics (rolling closed PnL minus absolute

        fill fees plus funding and negative current unrealized PnL only), not

        full period returns.

        Read-only lookup — no private key required.'
      tags:
      - Account
      security:
      - bearerAuth: []
      - {}
      parameters:
      - name: agentAddress
        in: query
        required: true
        schema:
          type: string
          pattern: ^0x[a-fA-F0-9]{40}$
        description: Agent's EVM address (Hyperliquid API wallet)
      responses:
        '200':
          description: Account state with risk info
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountStateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
components:
  schemas:
    AccountSummary:
      type: object
      properties:
        equity:
          type: string
        totalNotionalPosition:
          type: string
        marginUsed:
          type: string
        availableMargin:
          type: string
        aggregateLeverage:
          type: string
    ErrorResponse:
      type: object
      required:
      - error
      properties:
        ok:
          type: boolean
          example: false
        error:
          type: string
        code:
          type: string
        message:
          type: string
        retryable:
          type: boolean
        request_id:
          type: string
        details:
          type: object
          additionalProperties: true
    Guardrails:
      type: object
      properties:
        maxLeverage:
          type: integer
          example: 5
        maxRiskPerTrade:
          type: string
          example: 2%
        maxPositions:
          type: integer
        dailyLossLimit:
          type: string
          example: -3%
        weeklyLossLimit:
          type: string
          example: -7%
        maxDrawdown:
          type: string
          example: -15%
    RiskState:
      type: object
      properties:
        dailyPnl:
          type: string
        dailyPnlPct:
          type: string
        weeklyPnl:
          type: string
        realizedDailyPnl:
          type: string
        realizedWeeklyPnl:
          type: string
        unrealizedPnl:
          type: string
        pnlSource:
          type: string
          enum:
          - hyperliquid_venue_loss_pressure
        pnlAsOf:
          type: integer
          format: int64
        pnlMethodology:
          type: string
        drawdown:
          type: string
        peakEquity:
          type: string
        isTradingHalted:
          type: boolean
        haltReason:
          type: string
          nullable: true
        isReducedSize:
          type: boolean
        openPositionCount:
          type: integer
    PaymentRequiredError:
      type: object
      properties:
        ok:
          type: boolean
          example: false
        error:
          type: string
          example: payment_required
        code:
          type: string
          example: payment_required
        message:
          type: string
        retryable:
          type: boolean
        direct_upgrade_url:
          type: string
          format: uri
        rate_limit:
          type: object
          additionalProperties: true
        developer_sandbox:
          type: object
          additionalProperties: true
        payment_required:
          type: object
          properties:
            amount:
              type: string
              example: 0.01 USDC
            chain:
              type: string
              example: Base
            destination:
              type: string
              example: '0xb0Ed0d7bca24BBaD635B977C2efbE06742e33377'
            token:
              type: string
            chainId:
              type: integer
              example: 8453
    FuturesPosition:
      type: object
      properties:
        coin:
          type: string
        size:
          type: number
        side:
          type: string
          enum:
          - long
          - short
        entryPrice:
          type: number
        markPrice:
          type: number
        unrealizedPnl:
          type: number
        returnOnEquity:
          type: number
        leverage:
          type: number
        leverageType:
          type: string
        liquidationPrice:
          type: number
          nullable: true
        marginUsed:
          type: number
    AccountStateResponse:
      type: object
      properties:
        ok:
          type: boolean
        account:
          $ref: '#/components/schemas/AccountSummary'
        positions:
          type: array
          items:
            $ref: '#/components/schemas/FuturesPosition'
        risk:
          $ref: '#/components/schemas/RiskState'
        guardrails:
          $ref: '#/components/schemas/Guardrails'
        timestamp:
          type: integer
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/DustStormWarning'
    DustStormWarning:
      type: object
      required:
      - kind
      - message
      properties:
        kind:
          type: string
          const: dust_storm
        message:
          type: string
  responses:
    BadRequest:
      description: Invalid parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    PaymentRequired:
      description: Free-tier limit exceeded — x402 payment required
      headers:
        X-Payment-Required:
          schema:
            type: string
        X-Payment-Address:
          schema:
            type: string
          description: Treasury wallet (USDC on Base)
        X-Payment-Token:
          schema:
            type: string
          description: USDC contract on Base
        X-Payment-Amount:
          schema:
            type: string
          description: Amount in token decimals (990000 = 0.99 USDC)
        X-Payment-Chain-Id:
          schema:
            type: string
          description: 8453 (Base)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentRequiredError'
  headers:
    X-RateLimit-Remaining:
      description: Remaining requests in the current window
      schema:
        type: string
    X-RateLimit-Limit:
      description: Maximum requests allowed in the current window
      schema:
        type: string
    X-Request-ID:
      description: Unique request trace ID for debugging and support
      schema:
        type: string
        format: uuid
    X-RateLimit-Reset:
      description: UTC epoch seconds when the rate limit window resets
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Pioneer or Syndicate API key
x-agent-use-cases:
- id: bounded-autopilot
  name: Bounded Autopilot
  tier: Syndicate
  cadence: Every 5 minutes
  purpose: Run an always-on loop inside explicit budgets, allowlists, cooldowns, quote freshness, and local-signing requirements.
  primaryTools:
  - agent_onboard
  - create_session
  - configure_autopilot
  - autopilot_cycle
  - session_heartbeat
  stopConditions:
  - Budget, allowlist, cooldown, quote freshness, or risk bound is violated.
  - Required local EIP-191 or EIP-712 signature is missing.
  - Realized performance degrades enough to require analysis_only mode.
- id: airdrop-rotation
  name: Airdrop Rotation Desk
  tier: Pioneer
  cadence: Daily or event-driven
  purpose: Watch Trail Heat, snapshots, multiplier changes, wallet health, and costs before entering, waiting, rotating, or exiting.
  primaryTools:
  - get_trail_heat
  - get_historical_trailheat
  - get_agent_events
  - simulate_points
  - get_swap_quote
  - simulate_swap_execution
  stopConditions:
  - Expected point edge is unclear or negative after fees and gas.
  - Sybil risk exceeds the configured threshold.
  - User constraints do not allow the target chain or protocol.
- id: cross-chain-roi
  name: Cross-Chain ROI Gate
  tier: Pioneer
  cadence: Before any bridge
  purpose: Bridge only when net expected edge remains positive after bridge fee, gas, slippage, and execution risk buffer.
  primaryTools:
  - get_chain_breakdown
  - get_wallet_balances
  - get_token_prices
  - get_swap_quote
  - simulate_swap_execution
  - optimize_portfolio
  stopConditions:
  - netEdgeUsd is not positive.
  - Quote age exceeds the configured freshness limit.
  - Target chain is not allowlisted.
- id: perps-hedge
  name: Perps Hedge Co-Pilot
  tier: Syndicate
  cadence: Before exposure changes
  purpose: Evaluate whether a farming position needs a Hyperliquid hedge, with no_trade as a valid outcome.
  primaryTools:
  - scan_funding_rates
  - scan_market_conditions
  - get_futures_account
  - analyze_futures_strategy
  - calculate_position_size
  stopConditions:
  - Research gate expires.
  - Strategy confidence, liquidity, jurisdiction, or guardrails do not support execution.
  - Daily loss or drawdown limit is reached.
