openapi: 3.1.0
info:
  title: FarmDash Agent Planning API
  version: 2.0.0
  description: 'Tag-filtered subset of the public FarmDash Agent API. Canonical contract: https://www.farmdash.one/agents/openapi.yaml.
    Runtime availability and feature gates: https://www.farmdash.one/api/v1/agent/status. This discovery
    copy does not grant execution authority; follow each operation''s security, confirmation, and simulation
    requirements.'
  contact:
    name: FarmDash Engineering
    url: https://www.farmdash.one/agents
  license:
    name: MIT
servers:
- url: https://www.farmdash.one/api
  description: Production
tags:
- name: Planning
paths:
  /v1/agent/simulate-points:
    post:
      operationId: simulatePoints
      summary: FarmScore and points projection simulation
      description: 'Projects FarmScore for a farming configuration so agents can compare

        projected points-per-dollar across protocols. Simulations are

        decision-support estimates, not guarantees.

        '
      tags:
      - Planning
      parameters:
      - $ref: '#/components/parameters/X-ClawHub-Skill'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                totalVolumeUsd:
                  type: number
                protocolPoints:
                  type: object
                txCount:
                  type: integer
                daysActive:
                  type: integer
                isCexFundingOnly:
                  type: boolean
      responses:
        '200':
          description: Projected FarmScore and per-protocol points comparison
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
  /v1/agent/optimize-portfolio:
    post:
      operationId: optimizePortfolio
      summary: Portfolio optimization context
      description: 'Personalized protocol-allocation recommendations based on current

        positions, budget, and risk preference. Planning output only — it

        does not authorize or execute any transaction.

        '
      tags:
      - Planning
      parameters:
      - $ref: '#/components/parameters/X-ClawHub-Skill'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                budget:
                  type: number
                chains:
                  type: array
                  items:
                    type: string
                currentProtocols:
                  type: array
                  items:
                    type: string
                riskPreference:
                  type: string
      responses:
        '200':
          description: Ordered allocation recommendations with rationale
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
x-farmdash-canonical-openapi: https://www.farmdash.one/agents/openapi.yaml
x-farmdash-runtime-status: https://www.farmdash.one/api/v1/agent/status
x-farmdash-source-contract-notes:
- Directory-only alias definitions map ApiKeyAuth and bearerAuth to HTTP Bearer because the canonical
  OpenAPI references these names but omits components.securitySchemes; the first-party agent manifest
  documents bearer API keys.
- Embedded fee and protocol-count prose is normalized to current public fees/status contracts where the
  canonical OpenAPI narrative is stale.
components:
  parameters:
    X-ClawHub-Skill:
      name: X-ClawHub-Skill
      in: header
      required: false
      schema:
        type: string
        pattern: ^[a-zA-Z0-9-]{1,128}$
        example: farmdash-signal-architect
      description: 'ClawHub skill attribution. An installed FarmDash skill sends its canonical skill slug
        (e.g. farmdash-signal-architect) on every FarmDash API request so anonymous Scout usage can be
        attributed to the skill that drove it. Optional and analytics-only: absence never blocks a request,
        and malformed values are ignored. This is a skill identity, never a wallet address, API key, or
        user ID.'
  responses:
    PaymentRequired:
      description: Free-tier limit exceeded — x402 payment required
      headers:
        X-Payment-Required:
          schema:
            type: string
        X-Payment-Address:
          schema:
            type: string
          description: Treasury wallet (USDC on Base)
        X-Payment-Token:
          schema:
            type: string
          description: USDC contract on Base
        X-Payment-Amount:
          schema:
            type: string
          description: Amount in token decimals (990000 = 0.99 USDC)
        X-Payment-Chain-Id:
          schema:
            type: string
          description: 8453 (Base)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentRequiredError'
    RateLimitExceeded:
      description: Rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds until rate limit resets
        X-RateLimit-Limit:
          $ref: '#/components/headers/X-RateLimit-Limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/X-RateLimit-Remaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/X-RateLimit-Reset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    PaymentRequiredError:
      type: object
      properties:
        ok:
          type: boolean
          example: false
        error:
          type: string
          example: payment_required
        code:
          type: string
          description: '`free_quota_exhausted` when the shared Scout allowance is spent; otherwise `payment_required`.'
          example: free_quota_exhausted
        message:
          type: string
        instruction:
          type: string
          enum:
          - STOP_RETRYING
          description: Present when an exhausted free caller must not repeat the same unpaid request.
        retry_same_request:
          type: boolean
          example: false
        next_action:
          type: string
          example: Wait for your quota reset, upgrade your plan, or use x402 paid access.
        quota:
          type: object
          properties:
            tier:
              type: string
              example: scout
            remaining:
              type: integer
              example: 0
            reset_at:
              type: string
              format: date-time
        abuse_notice:
          type: string
          example: Repeated automated requests while quota is exhausted may result in temporary or permanent
            API blocking.
        retryable:
          type: boolean
        upgrade_url:
          type: string
          format: uri
        direct_upgrade_url:
          type: string
          format: uri
        rate_limit:
          type: object
          additionalProperties: true
        developer_sandbox:
          type: object
          additionalProperties: true
        payment_required:
          type: object
          properties:
            amount:
              type: string
              example: 0.01 USDC
            chain:
              type: string
              example: Base
            destination:
              type: string
              example: '0xb0Ed0d7bca24BBaD635B977C2efbE06742e33377'
            token:
              type: string
            chainId:
              type: integer
              example: 8453
    ErrorResponse:
      type: object
      required:
      - error
      properties:
        ok:
          type: boolean
          example: false
        error:
          type: string
        code:
          type: string
        message:
          type: string
        retryable:
          type: boolean
        request_id:
          type: string
        details:
          type: object
          additionalProperties: true
  headers:
    X-RateLimit-Limit:
      description: Maximum requests allowed in the current window
      schema:
        type: string
    X-RateLimit-Remaining:
      description: Remaining requests in the current window
      schema:
        type: string
    X-RateLimit-Reset:
      description: UTC epoch seconds when the rate limit window resets
      schema:
        type: string
