openapi: 3.2.0
info:
  title: FarmDash Agent History API
  version: 2.0.0
  description: 'WARNING: Running trade executions and cancellations places real perpetual futures trades and alters active market exposure, carrying significant risk of financial loss.'
  contact:
    name: FarmDash Engineering
    url: https://www.farmdash.one/agents
  license:
    name: MIT
servers:
- url: https://www.farmdash.one/api
  description: Production
tags:
- name: History
  description: Fee event history and revenue metrics
paths:
  /agents/history:
    get:
      operationId: getSwapHistory
      summary: Get your own fee event history (tenant-bound)
      description: 'Returns paginated swap fee events owned by the wallet bound to your

        API key. Requires a Pioneer or Syndicate bearer key; anonymous and

        scout callers receive 401 authentication_required. The query is

        always forced to the authenticated wallet — any `agentAddress` that

        differs from it returns 403 cross_tenant_denied.

        Use `?metrics=true` for aggregate revenue metrics for your own wallet.

        For the public leaderboard view (server-aggregated totals only, no

        raw transactions), use GET /v1/agent/leaderboard.'
      tags:
      - History
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/X-ClawHub-Skill'
      - name: agentAddress
        in: query
        schema:
          type: string
          pattern: ^0x[a-fA-F0-9]{40}$
        description: Optional. Must equal the wallet bound to your API key; any other value is rejected with 403 cross_tenant_denied.
      - name: limit
        in: query
        schema:
          type: integer
          default: 50
          minimum: 1
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          maximum: 10000
        description: Pagination offset (capped at 10,000 for DoS protection)
      - name: metrics
        in: query
        schema:
          type: string
          enum:
          - 'true'
        description: Return aggregate revenue metrics (own wallet only) instead of events
      responses:
        '200':
          description: History events or aggregate metrics
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/HistoryResponse'
                - $ref: '#/components/schemas/RevenueMetrics'
        '401':
          description: Authentication required — bind a Pioneer/Syndicate API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Cross-tenant denial — agentAddress does not match the authenticated wallet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
  /v1/agent/leaderboard:
    get:
      operationId: getLeaderboard
      summary: Public leaderboard — server-aggregated per-agent totals
      description: 'Per-agent aggregate totals (volume, fees, swap count) ranked by

        volume, top 50. Computed server-side over fee_events; returns

        aggregates ONLY — no raw transactions, tx hashes, or per-event

        timestamps. No API key required beyond rate-limiting tiers.'
      tags:
      - History
      parameters:
      - $ref: '#/components/parameters/X-ClawHub-Skill'
      - name: limit
        in: query
        schema:
          type: integer
          default: 50
          minimum: 1
          maximum: 50
      responses:
        '200':
          description: Aggregated leaderboard entries
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardResponse'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
  /v1/agent/performance:
    get:
      operationId: getAgentPerformance
      summary: Agent performance and protocol breakdown
      description: 'Fee-event activity aggregates for the authenticated agent address:

        cumulative volume, fees, and protocol diversity context. It is not a

        fill-quality ledger; profitability cannot be inferred from it.'
      tags:
      - History
      parameters:
      - $ref: '#/components/parameters/X-ClawHub-Skill'
      - name: address
        in: query
        required: true
        schema:
          type: string
          pattern: ^0x[a-fA-F0-9]{40}$
        description: EVM agent/wallet address (must match bound tenant wallet when a key is presented).
      responses:
        '200':
          description: Aggregate performance context
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          description: Queried address does not match the bound tenant wallet.
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
components:
  schemas:
    FeeEvent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        protocol:
          $ref: '#/components/schemas/SupportedProtocol'
        from_token:
          type: string
        to_token:
          type: string
        volume_usd:
          type: number
        fee_bps:
          type: integer
        fee_usd:
          type: number
        agent_address:
          type: string
        tx_hash:
          type: string
          nullable: true
        settlement_status:
          type: string
          enum:
          - pending
          - confirmed
          - expired
          - legacy
        chain_id:
          type: integer
    ErrorResponse:
      type: object
      required:
      - error
      properties:
        ok:
          type: boolean
          example: false
        error:
          type: string
        code:
          type: string
        message:
          type: string
        retryable:
          type: boolean
        request_id:
          type: string
        details:
          type: object
          additionalProperties: true
    SupportedProtocol:
      type: string
      enum:
      - lifi
      - relay
      description: Swap quote provider. Automatic routing compares all healthy compatible providers (LI.FI, Relay; 0x paused until reinstated); force one with ?protocol= (deterministic, never silent fallback).
    PaymentRequiredError:
      type: object
      properties:
        ok:
          type: boolean
          example: false
        error:
          type: string
          example: payment_required
        code:
          type: string
          description: '`free_quota_exhausted` when the shared Scout allowance is spent; otherwise `payment_required`.'
          example: free_quota_exhausted
        message:
          type: string
        instruction:
          type: string
          enum:
          - STOP_RETRYING
          description: Present when an exhausted free caller must not repeat the same unpaid request.
        retry_same_request:
          type: boolean
          example: false
        next_action:
          type: string
          example: Wait for your quota reset, upgrade your plan, or use x402 paid access.
        quota:
          type: object
          properties:
            tier:
              type: string
              example: scout
            remaining:
              type: integer
              example: 0
            reset_at:
              type: string
              format: date-time
        abuse_notice:
          type: string
          example: Repeated automated requests while quota is exhausted may result in temporary or permanent API blocking.
        retryable:
          type: boolean
        upgrade_url:
          type: string
          format: uri
        direct_upgrade_url:
          type: string
          format: uri
        rate_limit:
          type: object
          additionalProperties: true
        developer_sandbox:
          type: object
          additionalProperties: true
        payment_required:
          type: object
          properties:
            amount:
              type: string
              example: 0.01 USDC
            chain:
              type: string
              example: Base
            destination:
              type: string
              example: '0xb0Ed0d7bca24BBaD635B977C2efbE06742e33377'
            token:
              type: string
            chainId:
              type: integer
              example: 8453
    LeaderboardResponse:
      type: object
      required:
      - ok
      - source
      - entries
      properties:
        ok:
          type: boolean
        source:
          type: string
          description: Always 'fee_events_aggregated' — aggregates only, never raw events
        windowDays:
          type: integer
          nullable: true
        entries:
          type: array
          maxItems: 50
          items:
            type: object
            required:
            - address
            - totalVolumeUSD
            - totalFeeUSD
            - swapCount
            properties:
              address:
                type: string
              totalVolumeUSD:
                type: number
              totalFeeUSD:
                type: number
              swapCount:
                type: integer
    HistoryResponse:
      type: object
      required:
      - events
      - total
      - limit
      - offset
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/FeeEvent'
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
    RevenueMetrics:
      type: object
      required:
      - totalFeeUSD
      - totalVolumeUSD
      - totalSwaps
      - activeAgents
      properties:
        totalFeeUSD:
          type: number
        totalVolumeUSD:
          type: number
        totalSwaps:
          type: integer
        activeAgents:
          type: integer
  parameters:
    X-ClawHub-Skill:
      name: X-ClawHub-Skill
      in: header
      required: false
      schema:
        type: string
        pattern: ^[a-zA-Z0-9-]{1,128}$
        example: farmdash-signal-architect
      description: 'ClawHub skill attribution. An installed FarmDash skill sends its canonical skill slug (e.g. farmdash-signal-architect) on every FarmDash API request so anonymous Scout usage can be attributed to the skill that drove it. Optional and analytics-only: absence never blocks a request, and malformed values are ignored. This is a skill identity, never a wallet address, API key, or user ID.'
  headers:
    X-RateLimit-Limit:
      description: Maximum requests allowed in the current window
      schema:
        type: string
    X-Request-ID:
      description: Unique request trace ID for debugging and support
      schema:
        type: string
        format: uuid
    X-RateLimit-Remaining:
      description: Remaining requests in the current window
      schema:
        type: string
    X-RateLimit-Reset:
      description: UTC epoch seconds when the rate limit window resets
      schema:
        type: string
  responses:
    PaymentRequired:
      description: Free-tier limit exceeded — x402 payment required
      headers:
        X-Payment-Required:
          schema:
            type: string
        X-Payment-Address:
          schema:
            type: string
          description: Treasury wallet (USDC on Base)
        X-Payment-Token:
          schema:
            type: string
          description: USDC contract on Base
        X-Payment-Amount:
          schema:
            type: string
          description: Amount in token decimals (990000 = 0.99 USDC)
        X-Payment-Chain-Id:
          schema:
            type: string
          description: 8453 (Base)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentRequiredError'
    RateLimitExceeded:
      description: Rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds until rate limit resets
        X-RateLimit-Limit:
          $ref: '#/components/headers/X-RateLimit-Limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/X-RateLimit-Remaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/X-RateLimit-Reset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Pioneer or Syndicate API key
x-agent-use-cases:
- id: bounded-autopilot
  name: Bounded Autopilot
  tier: Syndicate
  cadence: Every 5 minutes
  purpose: Run an always-on loop inside explicit budgets, allowlists, cooldowns, quote freshness, and local-signing requirements.
  primaryTools:
  - agent_onboard
  - create_session
  - configure_autopilot
  - autopilot_cycle
  - session_heartbeat
  stopConditions:
  - Budget, allowlist, cooldown, quote freshness, or risk bound is violated.
  - Required local EIP-191 or EIP-712 signature is missing.
  - Realized performance degrades enough to require analysis_only mode.
- id: airdrop-rotation
  name: Airdrop Rotation Desk
  tier: Pioneer
  cadence: Daily or event-driven
  purpose: Watch Trail Heat, snapshots, multiplier changes, wallet health, and costs before entering, waiting, rotating, or exiting.
  primaryTools:
  - get_trail_heat
  - get_historical_trailheat
  - get_agent_events
  - simulate_points
  - get_swap_quote
  - simulate_swap_execution
  stopConditions:
  - Expected point edge is unclear or negative after fees and gas.
  - Sybil risk exceeds the configured threshold.
  - User constraints do not allow the target chain or protocol.
- id: cross-chain-roi
  name: Cross-Chain ROI Gate
  tier: Pioneer
  cadence: Before any bridge
  purpose: Bridge only when net expected edge remains positive after bridge fee, gas, slippage, and execution risk buffer.
  primaryTools:
  - get_chain_breakdown
  - get_wallet_balances
  - get_token_prices
  - get_swap_quote
  - simulate_swap_execution
  - optimize_portfolio
  stopConditions:
  - netEdgeUsd is not positive.
  - Quote age exceeds the configured freshness limit.
  - Target chain is not allowlisted.
- id: perps-hedge
  name: Perps Hedge Co-Pilot
  tier: Syndicate
  cadence: Before exposure changes
  purpose: Evaluate whether a farming position needs a Hyperliquid hedge, with no_trade as a valid outcome.
  primaryTools:
  - scan_funding_rates
  - scan_market_conditions
  - get_futures_account
  - analyze_futures_strategy
  - calculate_position_size
  stopConditions:
  - Research gate expires.
  - Strategy confidence, liquidity, jurisdiction, or guardrails do not support execution.
  - Daily loss or drawdown limit is reached.
