openapi: 3.1.0
info:
  title: FarmDash Agent Account API
  version: 2.0.0
  description: 'Tag-filtered subset of the public FarmDash Agent API. Canonical contract: https://www.farmdash.one/agents/openapi.yaml.
    Runtime availability and feature gates: https://www.farmdash.one/api/v1/agent/status. This discovery
    copy does not grant execution authority; follow each operation''s security, confirmation, and simulation
    requirements.'
  contact:
    name: FarmDash Engineering
    url: https://www.farmdash.one/agents
  license:
    name: MIT
servers:
- url: https://www.farmdash.one/api
  description: Production
tags:
- name: Account
  description: Hyperliquid account state and risk management
paths:
  /v1/agent/billing-history:
    get:
      operationId: getBillingHistory
      summary: Get your subscription state and payment history
      description: 'Billing-portal-lite for paid agents. Requires a stored Pioneer or

        Syndicate API key (the key is bound to the paying wallet). Returns the

        current subscription state (tier, expiry, auto_renew=false — prepaid

        30-day terms) plus the append-only payment ledger: one row per

        verified on-chain USDC payment, newest first. Renewals append rows;

        history is never overwritten.

        '
      tags:
      - Account
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/X-ClawHub-Skill'
      responses:
        '200':
          description: Subscription state and payment ledger
          content:
            application/json:
              schema:
                type: object
                required:
                - ok
                - wallet
                - subscription
                - payments
                properties:
                  ok:
                    type: boolean
                  wallet:
                    type: string
                    pattern: ^0x[a-fA-F0-9]{40}$
                  subscription:
                    type: object
                    properties:
                      tier:
                        type: string
                        nullable: true
                      expires_at:
                        type: string
                        format: date-time
                        nullable: true
                      active:
                        type: boolean
                      auto_renew:
                        type: boolean
                  payments:
                    type: array
                    items:
                      type: object
                      properties:
                        kind:
                          type: string
                        tier:
                          type: string
                          nullable: true
                        amount_usdc:
                          type: number
                          nullable: true
                        tx_hash:
                          type: string
                          nullable: true
                        chain_id:
                          type: integer
                          nullable: true
                        verified_at:
                          type: string
                          format: date-time
                        created_at:
                          type: string
                          format: date-time
        '402':
          description: Payment required (free tier has no billing history)
        '403':
          description: Pioneer or Syndicate subscription required
        '503':
          description: Billing ledger temporarily unavailable
  /v1/agent/futures/account-state:
    get:
      operationId: getAccountState
      summary: Get Hyperliquid positions and risk state
      description: 'Returns the agent''s current positions, margin summary, equity,

        liquidation prices, and risk management state. Daily/weekly values are

        conservative loss-pressure metrics (rolling closed PnL minus absolute

        fill fees plus funding and negative current unrealized PnL only), not

        full period returns.

        Read-only lookup — no private key required.

        '
      tags:
      - Account
      security:
      - bearerAuth: []
      - {}
      parameters:
      - $ref: '#/components/parameters/X-ClawHub-Skill'
      - name: agentAddress
        in: query
        required: true
        schema:
          type: string
          pattern: ^0x[a-fA-F0-9]{40}$
        description: Agent's EVM address (Hyperliquid API wallet)
      responses:
        '200':
          description: Account state with risk info
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountStateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
x-farmdash-canonical-openapi: https://www.farmdash.one/agents/openapi.yaml
x-farmdash-runtime-status: https://www.farmdash.one/api/v1/agent/status
x-farmdash-source-contract-notes:
- Directory-only alias definitions map ApiKeyAuth and bearerAuth to HTTP Bearer because the canonical
  OpenAPI references these names but omits components.securitySchemes; the first-party agent manifest
  documents bearer API keys.
- Embedded fee and protocol-count prose is normalized to current public fees/status contracts where the
  canonical OpenAPI narrative is stale.
components:
  parameters:
    X-ClawHub-Skill:
      name: X-ClawHub-Skill
      in: header
      required: false
      schema:
        type: string
        pattern: ^[a-zA-Z0-9-]{1,128}$
        example: farmdash-signal-architect
      description: 'ClawHub skill attribution. An installed FarmDash skill sends its canonical skill slug
        (e.g. farmdash-signal-architect) on every FarmDash API request so anonymous Scout usage can be
        attributed to the skill that drove it. Optional and analytics-only: absence never blocks a request,
        and malformed values are ignored. This is a skill identity, never a wallet address, API key, or
        user ID.'
  headers:
    X-RateLimit-Limit:
      description: Maximum requests allowed in the current window
      schema:
        type: string
    X-RateLimit-Remaining:
      description: Remaining requests in the current window
      schema:
        type: string
    X-RateLimit-Reset:
      description: UTC epoch seconds when the rate limit window resets
      schema:
        type: string
    X-Request-ID:
      description: Unique request trace ID for debugging and support
      schema:
        type: string
        format: uuid
  schemas:
    AccountStateResponse:
      type: object
      properties:
        ok:
          type: boolean
        account:
          $ref: '#/components/schemas/AccountSummary'
        positions:
          type: array
          items:
            $ref: '#/components/schemas/FuturesPosition'
        risk:
          $ref: '#/components/schemas/RiskState'
        guardrails:
          $ref: '#/components/schemas/Guardrails'
        timestamp:
          type: integer
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/DustStormWarning'
    AccountSummary:
      type: object
      properties:
        equity:
          type: string
        totalNotionalPosition:
          type: string
        marginUsed:
          type: string
        availableMargin:
          type: string
        aggregateLeverage:
          type: string
    FuturesPosition:
      type: object
      properties:
        coin:
          type: string
        size:
          type: number
        side:
          type: string
          enum:
          - long
          - short
        entryPrice:
          type: number
        markPrice:
          type: number
        unrealizedPnl:
          type: number
        returnOnEquity:
          type: number
        leverage:
          type: number
        leverageType:
          type: string
        liquidationPrice:
          type: number
          nullable: true
        marginUsed:
          type: number
    RiskState:
      type: object
      properties:
        dailyPnl:
          type: string
        dailyPnlPct:
          type: string
        weeklyPnl:
          type: string
        realizedDailyPnl:
          type: string
        realizedWeeklyPnl:
          type: string
        unrealizedPnl:
          type: string
        pnlSource:
          type: string
          enum:
          - hyperliquid_venue_loss_pressure
        pnlAsOf:
          type: integer
          format: int64
        pnlMethodology:
          type: string
        drawdown:
          type: string
        peakEquity:
          type: string
        isTradingHalted:
          type: boolean
        haltReason:
          type: string
          nullable: true
        isReducedSize:
          type: boolean
        openPositionCount:
          type: integer
    Guardrails:
      type: object
      properties:
        maxLeverage:
          type: integer
          example: 5
        maxRiskPerTrade:
          type: string
          example: 2%
        maxPositions:
          type: integer
        dailyLossLimit:
          type: string
          example: -3%
        weeklyLossLimit:
          type: string
          example: -7%
        maxDrawdown:
          type: string
          example: -15%
    DustStormWarning:
      type: object
      required:
      - kind
      - message
      properties:
        kind:
          type: string
          const: dust_storm
        message:
          type: string
    ErrorResponse:
      type: object
      required:
      - error
      properties:
        ok:
          type: boolean
          example: false
        error:
          type: string
        code:
          type: string
        message:
          type: string
        retryable:
          type: boolean
        request_id:
          type: string
        details:
          type: object
          additionalProperties: true
    PaymentRequiredError:
      type: object
      properties:
        ok:
          type: boolean
          example: false
        error:
          type: string
          example: payment_required
        code:
          type: string
          description: '`free_quota_exhausted` when the shared Scout allowance is spent; otherwise `payment_required`.'
          example: free_quota_exhausted
        message:
          type: string
        instruction:
          type: string
          enum:
          - STOP_RETRYING
          description: Present when an exhausted free caller must not repeat the same unpaid request.
        retry_same_request:
          type: boolean
          example: false
        next_action:
          type: string
          example: Wait for your quota reset, upgrade your plan, or use x402 paid access.
        quota:
          type: object
          properties:
            tier:
              type: string
              example: scout
            remaining:
              type: integer
              example: 0
            reset_at:
              type: string
              format: date-time
        abuse_notice:
          type: string
          example: Repeated automated requests while quota is exhausted may result in temporary or permanent
            API blocking.
        retryable:
          type: boolean
        upgrade_url:
          type: string
          format: uri
        direct_upgrade_url:
          type: string
          format: uri
        rate_limit:
          type: object
          additionalProperties: true
        developer_sandbox:
          type: object
          additionalProperties: true
        payment_required:
          type: object
          properties:
            amount:
              type: string
              example: 0.01 USDC
            chain:
              type: string
              example: Base
            destination:
              type: string
              example: '0xb0Ed0d7bca24BBaD635B977C2efbE06742e33377'
            token:
              type: string
            chainId:
              type: integer
              example: 8453
  responses:
    BadRequest:
      description: Invalid parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    PaymentRequired:
      description: Free-tier limit exceeded — x402 payment required
      headers:
        X-Payment-Required:
          schema:
            type: string
        X-Payment-Address:
          schema:
            type: string
          description: Treasury wallet (USDC on Base)
        X-Payment-Token:
          schema:
            type: string
          description: USDC contract on Base
        X-Payment-Amount:
          schema:
            type: string
          description: Amount in token decimals (990000 = 0.99 USDC)
        X-Payment-Chain-Id:
          schema:
            type: string
          description: 8453 (Base)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentRequiredError'
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      description: Directory-only compatibility alias based on the first-party agent manifest's bearer
        API-key authentication. The canonical OpenAPI references this name but does not define it in components.securitySchemes.
    bearerAuth:
      type: http
      scheme: bearer
      description: Pioneer or Syndicate API key
